In [5]:
## reference: https://colab.research.google.com/drive/1QhSnbh-WJVGZjQJF8u974msOL_vAgMeS#scrollTo=PlAGuj5kuZm9
## https://github.com/eisenjulian/nlp_estimator_tutorial/blob/master/nlp_estimators.ipynb

import pandas as pd
import numpy as np

from sklearn.utils import shuffle
from sklearn.preprocessing import LabelEncoder
from sklearn import model_selection
from sklearn import feature_selection
from sklearn.model_selection import cross_validate
from sklearn.model_selection import ShuffleSplit
from sklearn.svm import SVR
from sklearn.svm import SVC

from keras.preprocessing.text import Tokenizer

import tensorflow as tf
from tensorboard import summary as summary_lib
from tensorflow.python.keras.preprocessing import sequence

import seaborn as sns
import matplotlib.pyplot as plt

import tempfile
import os
print(tf.__version__)


dir='/Users/xinwang/ai/dataset/kaggle/DonorsChoose/'
train_file='train.csv'
resource_file='resources.csv'
SEED=1000
positive_sample_size=30000

all_train_df = pd.read_csv(dir + train_file)
resource_df = pd.read_csv(dir + resource_file)
label = LabelEncoder()
low_memory=False


def sampleData():
    train_label_1_df = all_train_df.loc[all_train_df['project_is_approved']==1].sample(n=positive_sample_size,
                                                                           random_state=SEED)
    train_label_0_df = all_train_df[all_train_df['project_is_approved']==0]

    train_df = pd.concat([train_label_1_df,train_label_0_df])
    train_df = shuffle(train_df)

    train_df.fillna(value={"teacher_prefix":'Mr.'}, inplace=True)

    return train_df

train_data = sampleData() 

target = 'project_is_approved'
model_dir = tempfile.mkdtemp()


train_data.info()

1.9.0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 57734 entries, 94816 to 48018
Data columns (total 16 columns):
id                                              57734 non-null object
teacher_id                                      57734 non-null object
teacher_prefix                                  57734 non-null object
school_state                                    57734 non-null object
project_submitted_datetime                      57734 non-null object
project_grade_category                          57734 non-null object
project_subject_categories                      57734 non-null object
project_subject_subcategories                   57734 non-null object
project_title                                   57734 non-null object
project_essay_1                                 57734 non-null object
project_essay_2                                 57734 non-null object
project_essay_3                                 1922 non-null object
project_essay_4                                 1922 non-null object
project_resource_summary                        57734 non-null object
teacher_number_of_previously_posted_projects    57734 non-null int64
project_is_approved                             57734 non-null int64
dtypes: int64(2), object(14)
memory usage: 7.5+ MB

In [6]:
train_data.head()

,id,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects,project_is_approved
94816,p050539,b66c80cb7daefc6304589d102a0ce436,Mrs.,AL,2017-03-09 16:28:34,Grades 3-5,Literacy & Language,Literature & Writing,Interactive Reading is Fun!,My students are unique in many different ways....,Technology is a major resource in engaging st...,NaN,NaN,My students need laptops to enhance their tech...,0,1
139530,p258662,35f2d67fff6b9c44c8defe97bb50f6f1,Ms.,CA,2016-09-01 00:26:31,Grades 3-5,Music & The Arts,Music,Guitars for Tween Self Expression,My fifth graders come to me for music. They a...,My students are diverse in terms of musical co...,NaN,NaN,My students need 14 guitars at 49.99 dollars e...,0,0
112776,p011917,cc40f5cb5e668b3ff5c07577f3aea5d2,Mrs.,TX,2017-04-05 10:09:29,Grades 3-5,Math & Science,"Environmental Science, Health & Life Science",Super Science!,My students are at a school that is typically ...,Scholastic Super Science Magazine are great no...,NaN,NaN,My students need Scholastic Super Science Clas...,9,0
68457,p070970,19aa47d8f1d613688f219ece41fd2cba,Mrs.,VA,2016-10-06 22:07:53,Grades 3-5,Literacy & Language,"ESL, Literacy",Promoting Literacy Using Technology,My students walk into our inner city Title 1 s...,My students will absolutely enjoy learning thr...,NaN,NaN,My students need hand held devices to promote ...,0,0
122928,p159529,d3090dafdade83a0730187ab18a30910,Mrs.,NE,2017-03-28 16:02:10,Grades PreK-2,"Literacy & Language, Math & Science","ESL, Mathematics",Ipad Minis for Kindergarten,"One of the quotes for our school is \""All Day ...",My students need iPads to help with their lear...,NaN,NaN,My students need an ipad mini 4 with wifi and ...,14,1

In [7]:
train_data[['teacher_prefix', 'project_is_approved']].groupby('teacher_prefix', as_index=False).mean()

  teacher_prefix  project_is_approved
0            Dr.             0.375000
1            Mr.             0.504878
2           Mrs.             0.534025
3            Ms.             0.509251
4        Teacher             0.427046

In [32]:
train_data[['school_state','project_is_approved']].groupby('school_state', as_index=False).mean().sort_values(
    by='project_is_approved', ascending=False)[0:10]

   school_state  project_is_approved
8            DE             0.597484
6            CT             0.582649
41           SD             0.572327
28           ND             0.565789
40           SC             0.564371
35           OH             0.560694
21           ME             0.555133
49           WV             0.554217
47           WA             0.553339
19           MA             0.549643

In [20]:
train_data[['project_grade_category','project_is_approved']].groupby(
    'project_grade_category', as_index=False).mean().sort_values(by='project_is_approved', ascending=False)

  project_grade_category  project_is_approved
0             Grades 3-5             0.533968
3          Grades PreK-2             0.517677
1             Grades 6-8             0.511401
2            Grades 9-12             0.493197

In [33]:
train_data[['project_subject_categories','project_is_approved']].groupby(
    'project_subject_categories', as_index=False).mean().sort_values(
    by='project_is_approved', ascending=False)[0:10]

                    project_subject_categories  project_is_approved
50                       Warmth, Care & Hunger             0.705680
15      Health & Sports, Warmth, Care & Hunger             0.666667
31  Literacy & Language, Warmth, Care & Hunger             0.636364
27       Literacy & Language, History & Civics             0.610811
18           History & Civics, Health & Sports             0.600000
19       History & Civics, Literacy & Language             0.591264
35            Math & Science, History & Civics             0.574586
25       Literacy & Language, Applied Learning             0.568047
24                         Literacy & Language             0.562136
28         Literacy & Language, Math & Science             0.560049

In [38]:
train_data[['project_subject_subcategories','project_is_approved']].groupby('project_subject_subcategories', as_index=False).mean().sort_values(
    'project_is_approved', ascending=False)[0:50]

                   project_subject_subcategories  project_is_approved
222        Financial Literacy, Health & Wellness             1.000000
151         Early Development, Foreign Languages             1.000000
206         Extracurricular, History & Geography             1.000000
260         Gym & Fitness, Warmth, Care & Hunger             1.000000
198           Environmental Science, Team Sports             1.000000
267                 Health & Life Science, Music             1.000000
182    Environmental Science, Financial Literacy             1.000000
174              Economics, Literature & Writing             1.000000
171             Economics, Health & Life Science             1.000000
48      Character Education, Nutrition Education             1.000000
298      History & Geography, Parent Involvement             1.000000
229          Financial Literacy, Social Sciences             1.000000
167     Early Development, Warmth, Care & Hunger             1.000000
144                             ESL, Team Sports             1.000000
119           Community Service, Performing Arts             1.000000
64        Civics & Government, Foreign Languages             1.000000
360                           Other, Team Sports             1.000000
364          Parent Involvement, Performing Arts             1.000000
368    Parent Involvement, Warmth, Care & Hunger             1.000000
66        Civics & Government, Health & Wellness             1.000000
296                   History & Geography, Music             0.866667
137                                   ESL, Music             0.833333
97        College & Career Prep, Social Sciences             0.769231
169             Economics, Environmental Science             0.750000
214             Extracurricular, Performing Arts             0.750000
223      Financial Literacy, History & Geography             0.750000
286           Health & Wellness, Performing Arts             0.727273
139                                   ESL, Other             0.714286
367              Parent Involvement, Visual Arts             0.714286
385                        Warmth, Care & Hunger             0.705680
84      College & Career Prep, Foreign Languages             0.700000
311                 Literacy, Parent Involvement             0.679012
208        Extracurricular, Literature & Writing             0.666667
63       Civics & Government, Financial Literacy             0.666667
202          Extracurricular, Financial Literacy             0.666667
203               Extracurricular, Gym & Fitness             0.666667
234     Foreign Languages, Health & Life Science             0.666667
112       Community Service, History & Geography             0.666667
317              Literacy, Warmth, Care & Hunger             0.666667
215             Extracurricular, Social Sciences             0.666667
345                       Music, Social Sciences             0.666667
19                       Applied Sciences, Music             0.657895
313                    Literacy, Social Sciences             0.651685
82        College & Career Prep, Extracurricular             0.650000
265  Health & Life Science, Literature & Writing             0.647059
22          Applied Sciences, Parent Involvement             0.647059
244             Foreign Languages, Special Needs             0.642857
89               College & Career Prep, Literacy             0.636364
162           Early Development, Performing Arts             0.636364
293                History & Geography, Literacy             0.628959

In [58]:
## much more effective that individual 
train_data[['teacher_prefix','school_state','project_is_approved']].groupby(
    by=['teacher_prefix','school_state'], as_index=False).mean().sort_values(
    'project_is_approved', ascending=False)[0:10]

    teacher_prefix school_state  project_is_approved
0              Dr.           CA             1.000000
3              Dr.           NJ             1.000000
1              Dr.           IA             1.000000
159            Ms.           WY             0.777778
35             Mr.           ND             0.750000
208        Teacher           WV             0.714286
23             Mr.           KS             0.714286
19             Mr.           IA             0.695652
181        Teacher           ME             0.666667
28             Mr.           ME             0.652174

In [57]:
## much more effective that individual 
train_data[['school_state','project_grade_category','project_is_approved']].groupby(
    by=['school_state','project_grade_category'], as_index=False).mean().sort_values(
    'project_is_approved', ascending=False)[0:10]

    school_state project_grade_category  project_is_approved
186           VT            Grades 9-12             0.750000
33            DE             Grades 6-8             0.750000
85            ME             Grades 6-8             0.722222
164           SD             Grades 3-5             0.672414
118           NE            Grades 9-12             0.666667
122           NH            Grades 9-12             0.652174
201           WY             Grades 6-8             0.642857
35            DE          Grades PreK-2             0.625000
27            CT          Grades PreK-2             0.620482
142           OH            Grades 9-12             0.616822

In [64]:
train_data.head()

train_data[['project_subject_categories','project_subject_subcategories','project_is_approved']].groupby(
    by=['project_subject_categories','project_subject_subcategories'], as_index=False).mean().sort_values(
    'project_is_approved', ascending=False)[0:30]

,project_subject_categories,project_subject_subcategories,project_is_approved
115,"Applied Learning, Music & The Arts","Parent Involvement, Performing Arts",1.000000
179,History & Civics,"Financial Literacy, Social Sciences",1.000000
190,"History & Civics, Health & Sports","Civics & Government, Health & Wellness",1.000000
194,"History & Civics, Literacy & Language","Civics & Government, Foreign Languages",1.000000
189,"History & Civics, Applied Learning","History & Geography, Parent Involvement",1.000000
331,"Math & Science, History & Civics","Environmental Science, Financial Literacy",1.000000
198,"History & Civics, Literacy & Language","Economics, Literature & Writing",1.000000
47,"Applied Learning, Health & Sports","Other, Team Sports",1.000000
352,"Math & Science, Music & The Arts","Health & Life Science, Music",1.000000
320,"Math & Science, Health & Sports","Environmental Science, Team Sports",1.000000
207,"History & Civics, Math & Science","Economics, Health & Life Science",1.000000
65,"Applied Learning, History & Civics","Extracurricular, History & Geography",1.000000
30,"Applied Learning, Health & Sports","Character Education, Nutrition Education",1.000000
192,"History & Civics, Health & Sports","Financial Literacy, Health & Wellness",1.000000
80,"Applied Learning, Literacy & Language","Early Development, Foreign Languages",1.000000
166,"Health & Sports, Warmth, Care & Hunger","Gym & Fitness, Warmth, Care & Hunger",1.000000
129,"Applied Learning, Warmth, Care & Hunger","Parent Involvement, Warmth, Care & Hunger",1.000000
126,"Applied Learning, Warmth, Care & Hunger","Early Development, Warmth, Care & Hunger",1.000000
249,"Literacy & Language, Health & Sports","ESL, Team Sports",1.000000
105,"Applied Learning, Music & The Arts","Community Service, Performing Arts",1.000000
217,"History & Civics, Music & The Arts","History & Geography, Music",0.866667
271,"Literacy & Language, Music & The Arts","ESL, Music",0.833333
56,"Applied Learning, History & Civics","College & Career Prep, Social Sciences",0.769231
178,History & Civics,"Financial Literacy, History & Geography",0.750000
206,"History & Civics, Math & Science","Economics, Environmental Science",0.750000
111,"Applied Learning, Music & The Arts","Extracurricular, Performing Arts",0.750000
159,"Health & Sports, Music & The Arts","Health & Wellness, Performing Arts",0.727273
239,"Literacy & Language, Applied Learning","ESL, Other",0.714286
116,"Applied Learning, Music & The Arts","Parent Involvement, Visual Arts",0.714286
385,"Warmth, Care & Hunger","Warmth, Care & Hunger",0.705680

In [91]:
train_data['num_posted_projects_bins'] = pd.cut(
    train_data['teacher_number_of_previously_posted_projects'],
    [-1,7,50,1000])


train_data[['num_posted_projects_bins','project_is_approved']].groupby(
    'num_posted_projects_bins', as_index=False).mean().sort_values(
    'project_is_approved', ascending=False)

  num_posted_projects_bins  project_is_approved
2               (50, 1000]             0.722997
1                  (7, 50]             0.583002
0                  (-1, 7]             0.490573

In [94]:
train_data['num_posted_projects_bins'] = pd.cut(
    train_data['teacher_number_of_previously_posted_projects'],
    [-1,7,50,1000])

label = LabelEncoder()

train_data['num_posted_projects_buckets'] = label.fit_transform(train_data['num_posted_projects_bins'])

train_data['num_posted_projects_buckets'].head(40)

94816     0
139530    0
112776    1
68457     0
122928    1
Name: num_posted_projects_buckets, dtype: int64